@import url('../global.css');

.main {
}

.main-hero {
    background-color: #a554de;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .main-hero-left{
        width: 100%;
        color:white;

        .wrapper {
            padding: 10% 0% 20% 40%;
            line-height: 1.5;

            h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            p{
                margin-bottom: 20px;
            }
        }
    }
    .main-hero-right {
        width: 100%;
        color: red;
    }
}

.main-info {
    position: relative;
    display: flex;
    justify-content: center;
    height:50vh;

    .wrapper {
        position: absolute;
        top: -70px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        height: 250px;

        .item {
            border: 1px solid black;    
            width: 250px;  
            margin: 0 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;    

            .item-header {
                background-color: #8f7fc7;
                flex: 60%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .item-body {   
                flex: 40%;
                padding: 10px;
                text-align: center;

                h1 {
                    margin: 10px 0px;
                    font-size: 24px;
                }
            }
        }
    }
}

.main-search {
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #8f7fc7;

    .search-container{ 
        display:flex;
        flex-direction:row;
        justify-content: center;
        
        .search-column {
            padding: 20px 80px;
            background-color:white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }

        .search-column:hover {
            background-color:#8f7fc7;
        }
    }

    .item-container {
        display: flex;
        flex-wrap: wrap;
        padding: 2% 5%;

        .item-card {
            border: 1px solid #000;
            padding: 10px;
            margin: 5px;
            flex: 1; /* Allow items to take equal width */
            box-sizing: border-box;
            background-color: white;

            .item-card-header {
                height: 250px;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .item-card-body {
                padding: 10px;

                h1 {
                    margin-bottom: 10px;
                }
            }
        }
        .item-card:hover {
            transform: scale(1.05);
            transition: transform 0.4s ease;
        }
    }

    .see-more-item {
        text-align: center;
    }
}

.main-group {
    height: 70vh;
    display: flex;
    flex-direction: row;

    .main-group-left {
        flex: 1;
        padding: 20px;
        text-align: center;

        img {
            max-width: 100%;
            height: 300px;
        }
    }

    .main-group-right {
        flex: 1;
        padding: 20px;
        line-height: 1.5;
        h1, p, button {
            display: block;
            margin-bottom: 10px; /* Adjust the margin as needed for spacing */
        }

        h1 {
            padding-top: 50px;
            font-size: 40px;
        }

        button {
            margin-top: 20px;
        }
    }
}